.factories-container {
  min-height: 100vh;
}
.factories-factories {
  width: 100%;
  height: 3087px;
  display: flex;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
}
.factories-group3 {
  top: 25px;
  left: 852px;
  width: 518px;
  height: 74px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.factories-text {
  top: 1.000000238418579px;
  color: rgba(204, 83, 54, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text002 {
  top: 28px;
  color: rgba(204, 83, 54, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text004 {
  top: 55px;
  color: rgba(204, 83, 54, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text006 {
  top: 1.000000238418579px;
  left: 146px;
  color: rgba(204, 83, 54, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text008 {
  top: 1.000000238418579px;
  left: 460px;
  color: rgba(204, 83, 54, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-line1stroke {
  top: 2.18556948539117e-7px;
  left: 457px;
  width: 19px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-frame {
  top: 25px;
  left: 70px;
  width: 293px;
  height: 89px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle76 {
  top: 132px;
  left: 0px;
  width: 1440px;
  height: 74px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle77 {
  top: 206px;
  left: 0px;
  width: 1440px;
  height: 482px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle78 {
  top: 504px;
  left: 70px;
  width: 1300px;
  height: 315px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 15px;
  margin-bottom: 0;
}
.factories-rectangle80 {
  top: 608px;
  left: 142px;
  width: 1156px;
  height: 70px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(200, 200, 200, 1);
  border-style: solid;
  border-width: 2px;
  margin-right: 0;
  border-radius: 15px;
  margin-bottom: 0;
}
.factories-rectangle81 {
  top: 721px;
  left: 183px;
  width: 129px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.factories-rectangle82 {
  top: 721px;
  left: 348px;
  width: 129px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.factories-rectangle83 {
  top: 721px;
  left: 517px;
  width: 98px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.factories-rectangle84 {
  top: 721px;
  left: 651px;
  width: 115px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.factories-rectangle85 {
  top: 721px;
  left: 802px;
  width: 115px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.factories-union {
  top: 629.5px;
  left: 157px;
  width: 31px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text010 {
  top: 633px;
  left: 218px;
  color: rgba(142, 142, 142, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text012 {
  top: 733px;
  left: 239px;
  color: rgba(137, 137, 137, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text014 {
  top: 733px;
  left: 405px;
  color: rgba(137, 137, 137, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text016 {
  top: 733px;
  left: 556px;
  color: rgba(137, 137, 137, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text018 {
  top: 733px;
  left: 702px;
  color: rgba(137, 137, 137, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text020 {
  top: 733px;
  left: 859px;
  color: rgba(137, 137, 137, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-union1 {
  top: 735.7884521484375px;
  left: 377px;
  width: 15px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-union2 {
  top: 735.7884521484375px;
  left: 209px;
  width: 15px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-union3 {
  top: 735.7884521484375px;
  left: 531px;
  width: 15px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-union4 {
  top: 735.7884521484375px;
  left: 672px;
  width: 15px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-union5 {
  top: 735.7884521484375px;
  left: 824px;
  width: 15px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle86 {
  top: 879px;
  left: 517px;
  width: 183px;
  height: 183px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle87 {
  top: 879px;
  left: 740px;
  width: 183px;
  height: 183px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle88 {
  top: 879px;
  left: 1147px;
  width: 183px;
  height: 183px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle89 {
  top: 879px;
  left: 1187px;
  width: 183px;
  height: 183px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle90 {
  top: 879px;
  left: 70px;
  width: 183px;
  height: 183px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle91 {
  top: 879px;
  left: 294px;
  width: 183px;
  height: 183px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text022 {
  top: 1079px;
  left: 517px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text024 {
  top: 1079px;
  left: 740px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text026 {
  top: 1079px;
  left: 964px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text028 {
  top: 1079px;
  left: 1187px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text030 {
  top: 1079px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text032 {
  top: 1079px;
  left: 294px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text034 {
  top: 1104px;
  left: 517px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text036 {
  top: 1104px;
  left: 740px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text038 {
  top: 1104px;
  left: 964px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text040 {
  top: 1104px;
  left: 1187px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text042 {
  top: 1104px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text044 {
  top: 1104px;
  left: 294px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-rectangle93 {
  top: 1163px;
  left: 70px;
  width: 1300px;
  height: 352px;
  display: none;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(212, 212, 212, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle96 {
  top: 1549px;
  left: 70px;
  width: 1300px;
  height: 352px;
  display: none;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(212, 212, 212, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle99 {
  top: 1935px;
  left: 70px;
  width: 1300px;
  height: 352px;
  display: none;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(212, 212, 212, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle92 {
  top: 1203px;
  left: 129px;
  width: 276px;
  height: 276px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle97 {
  top: 1589px;
  left: 129px;
  width: 276px;
  height: 276px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle100 {
  top: 1975px;
  left: 129px;
  width: 276px;
  height: 276px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text046 {
  top: 1203px;
  left: 478px;
  color: rgba(0, 0, 0, 1);
  width: 298px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text048 {
  top: 1589px;
  left: 478px;
  color: rgba(0, 0, 0, 1);
  width: 298px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text050 {
  top: 1975px;
  left: 478px;
  color: rgba(0, 0, 0, 1);
  width: 298px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text052 {
  top: 1203px;
  left: 1207px;
  color: rgba(0, 0, 0, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text054 {
  top: 1589px;
  left: 1171px;
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text056 {
  top: 1975px;
  left: 1171px;
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-star1 {
  top: 1232px;
  left: 478px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star5 {
  top: 1618px;
  left: 478px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star10 {
  top: 2004px;
  left: 478px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star2 {
  top: 1232px;
  left: 508px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star6 {
  top: 1618px;
  left: 508px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star11 {
  top: 2004px;
  left: 508px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star3 {
  top: 1232px;
  left: 538px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star7 {
  top: 1618px;
  left: 538px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star12 {
  top: 2004px;
  left: 538px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star4 {
  top: 1232px;
  left: 568px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star8 {
  top: 1618px;
  left: 568px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star13 {
  top: 2004px;
  left: 568px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star9 {
  top: 1618px;
  left: 598px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-star14 {
  top: 2004px;
  left: 598px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-subtract {
  top: 1232px;
  left: 598.58740234375px;
  width: 11px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text058 {
  top: 1309px;
  left: 477px;
  color: rgba(0, 0, 0, 1);
  width: 670px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text060 {
  top: 1695px;
  left: 477px;
  color: rgba(0, 0, 0, 1);
  width: 670px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text075 {
  top: 2081px;
  left: 477px;
  color: rgba(0, 0, 0, 1);
  width: 670px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text077 {
  top: 1261px;
  left: 477px;
  color: rgba(204, 83, 54, 1);
  width: 422px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text079 {
  top: 1647px;
  left: 477px;
  color: rgba(204, 83, 54, 1);
  width: 422px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text081 {
  top: 2033px;
  left: 477px;
  color: rgba(204, 83, 54, 1);
  width: 422px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text083 {
  top: 1261px;
  left: 911px;
  color: rgba(204, 83, 54, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.factories-text085 {
  top: 1647px;
  left: 911px;
  color: rgba(204, 83, 54, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.factories-text087 {
  top: 2033px;
  left: 911px;
  color: rgba(204, 83, 54, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.factories-text089 {
  top: 1227px;
  left: 1193px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text091 {
  top: 1613px;
  left: 1187px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text093 {
  top: 1999px;
  left: 1187px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-rectangle95 {
  top: 1196px;
  left: 1277px;
  width: 51px;
  height: 51px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
}
.factories-rectangle98 {
  top: 1582px;
  left: 1277px;
  width: 51px;
  height: 51px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
}
.factories-rectangle101 {
  top: 1968px;
  left: 1277px;
  width: 51px;
  height: 51px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
}
.factories-text095 {
  top: 1207px;
  left: 1287px;
  color: rgba(255, 255, 255, 1);
  width: 32px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text097 {
  top: 1593px;
  left: 1287px;
  color: rgba(255, 255, 255, 1);
  width: 32px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text099 {
  top: 1979px;
  left: 1287px;
  color: rgba(255, 255, 255, 1);
  width: 32px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-frame1 {
  top: 3254px;
  left: -1415px;
  width: 1315px;
  height: 876.8599853515625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.factories-africanamericanstudentwalkingstreettalkingphone1 {
  top: 292px;
  left: 408px;
  width: 299px;
  height: 295px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-womanshoppingwithfabrictotebag11 {
  top: 292px;
  left: 745px;
  width: 296px;
  height: 295px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-component4 {
  top: 2634px;
  left: 0px;
  width: 1440px;
  height: 453px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.factories-rectangle61 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 453px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text101 {
  top: 188px;
  left: 80px;
  color: rgba(204, 83, 54, 1);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-rectangle63 {
  top: 222px;
  left: 80px;
  width: 400px;
  height: 43px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(204, 83, 54, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-rectangle64 {
  top: 222px;
  left: 480px;
  width: 110px;
  height: 43px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(204, 83, 54, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text103 {
  top: 234px;
  left: 97px;
  color: rgba(226, 141, 122, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text105 {
  top: 233px;
  left: 516px;
  color: rgba(255, 255, 255, 1);
  width: 39px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text107 {
  top: 140px;
  left: 1077px;
  color: rgba(204, 83, 54, 1);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text109 {
  top: 140px;
  left: 1290px;
  color: rgba(204, 83, 54, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text111 {
  top: 179px;
  left: 1290px;
  color: rgba(204, 83, 54, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text113 {
  top: 175px;
  left: 1077px;
  color: rgba(204, 83, 54, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text115 {
  top: 210px;
  left: 1077px;
  color: rgba(204, 83, 54, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text117 {
  top: 245px;
  left: 1077px;
  color: rgba(204, 83, 54, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text119 {
  top: 389px;
  left: 1077px;
  color: rgba(204, 83, 54, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-text121 {
  top: 404px;
  left: 1077px;
  color: rgba(204, 83, 54, 1);
  width: 149px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-frame2 {
  top: 128px;
  left: 70px;
  width: 183px;
  height: 55px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-frame3 {
  top: 355px;
  left: 1075px;
  width: 112px;
  height: 34px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-component1 {
  top: 1444px;
  left: 1147px;
  width: 206px;
  height: 53px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.factories-rectangle102 {
  top: 0px;
  left: 0px;
  width: 206px;
  height: 53px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text123 {
  top: 10px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-vector1 {
  top: 20px;
  left: 163.5px;
  width: 30px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-component2 {
  top: 1828px;
  left: 1147px;
  width: 206px;
  height: 53px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.factories-rectangle1021 {
  top: 0px;
  left: 0px;
  width: 206px;
  height: 53px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text128 {
  top: 10px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-vector11 {
  top: 20px;
  left: 163.5px;
  width: 30px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-component3 {
  top: 2211px;
  left: 1147px;
  width: 206px;
  height: 53px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.factories-rectangle1022 {
  top: 0px;
  left: 0px;
  width: 206px;
  height: 53px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-text133 {
  top: 10px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-vector12 {
  top: 20px;
  left: 163.5px;
  width: 30px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-component5 {
  top: 2337px;
  left: 70px;
  width: 1300px;
  height: 217px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.factories-rectangle103 {
  top: 0px;
  left: 0px;
  width: 1300px;
  height: 217px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-vector4 {
  top: 1.7499998807907104px;
  left: 4.566744804382324px;
  width: 559px;
  height: 214px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.factories-group22 {
  top: 13.999999046325684px;
  left: 1266.510498046875px;
  width: 23.910118103027344px;
  height: 27.487438201904297px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.factories-vector2stroke {
  top: -1px;
  left: -1px;
  width: 24px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
}
.factories-vector3stroke {
  top: -2px;
  left: -2px;
  width: 24px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
}
.factories-text138 {
  top: 75.25px;
  left: 564.7540893554688px;
  color: rgba(255, 255, 255, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.factories-rectangle104 {
  top: 62px;
  left: 1063px;
  width: 157px;
  height: 56px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.factories-text143 {
  top: 84px;
  left: 1106.6744384765625px;
  color: rgba(204, 83, 54, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
